*
!*/

!*.rst
!*.md
!*.py
!check/test.sh

!*.l
!*.y

!src/*/*.cc
!src/*/*.hh
!src/*/*.hxx

!LICENSE
!HEADER

!.gitignore
!AUTHORS
!build.gradle

!gradle/wrapper/*
!gradle.properties
!gradlew
!gradlew.bat
