*
!*/

!*.rst
!*.md
!*.py
!check/test.sh

!*.l
!*.y

!*.cc
!*.hh
!*.hxx

src/parse/parse.hh
src/parse/parse.cc
src/parse/parse.output
src/parse/stack.hh
src/parse/lex.cc
src/parse/location.hh
src/parse/position.hh


!LICENSE
!HEADER

!.gitignore
!AUTHORS
!build.gradle

!gradle/wrapper/*
!gradle.properties
!gradlew
!gradlew.bat
