*
!*/

!*.rst
!*.md
!*.py
!check/test.sh

!*.l
!*.y


!src/*/*.cc
!src/*/*.hh
!src/*/*.hxx

src/parse/*.cc
src/parse/*.hh

!LICENSE
!HEADER

!.gitignore
!AUTHORS
!build.gradle

!gradle/wrapper/*
!gradle.properties
!gradlew
!gradlew.bat
